@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header1-6 H1 {
  font-size: 36px;
  color: #ffffff;
}
#content5-7 .mbr-section-title {
  font-size: 36px;
}
#content5-b .mbr-section-title {
  font-size: 36px;
}
#content5-c .mbr-section-title {
  font-size: 36px;
}
#content5-d .mbr-section-title {
  font-size: 36px;
}
#content5-e .mbr-section-title {
  font-size: 36px;
}
#content5-f .mbr-section-title {
  font-size: 36px;
}
#content5-g .mbr-section-title {
  font-size: 36px;
}
#content5-h .mbr-section-title {
  font-size: 36px;
}
